.overlay {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(217,75,216,0.8); 
    color: white;
    text-align:center;
    font-size: 24px;
    line-height: 8vh;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s ease;
  }

#description:hover .overlay {
    opacity: 1;
    transform: translateY(0%);
    cursor: pointer;
}

.overlay h1{
    font-family: 'Sunflower', sans-serif;
    font-size: 3rem;;
}

.content1 {
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:2%;
}

#beginning {
    flex:1;

    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    order:0;
}

#img1 {
    flex:1;
    order:1;
}

#img1 img{
    width: 100%;
    border-radius: 75px 25px;
}

#description {
    position:relative; /*for overlay*/
    overflow: hidden; /*for overlay*/

    width: 100%;
    background-color:   rgba(126,58,199,0.2);
    border: 2px solid rgb(194,176,248);
    border-radius: 5px 15px;
}

#description p{    
    font-family: 'Sunflower', sans-serif;
    color: #BEC2F0;
    text-shadow: 1px 0 0.5px rgb(194,176,248), -1px 0 0.5px rgb(194,176,248), 0 1px 0.5px rgb(194,176,248), 0 -1px 0.5px rgb(194,176,248) ;
    font-size: 1.5rem;
    margin:1rem;
}

.typed {
    margin:0 0 0.5rem 0;
    padding-left: 1rem;
    font-size: 8rem;
    font-family: 'Sunflower', sans-serif;
    overflow: hidden;
    white-space: nowrap;


    color: #BEC2F0;
    text-shadow: 1px 0 3px rgb(194,176,248), -1px 0 3px rgb(194,176,248), 0 1px 3px rgb(194,176,248), 0 -1px 3px rgb(194,176,248) ;

    animation: typing 1s steps(20, end) alternate 19 2s, blinking 0.2s 100 2s;
    border-right: 2px solid rgb(194,176,248);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: #d94bd8}
    100% {border-right-color: transparent} 
}

.dividerBlack h1{
    font-size: 11rem;
    font-family: 'Cinzel Decorative', serif;   
    text-align:center;
    color:white;

    margin: 5% 0 1% 0;
}
.dividerBlack p{
    font-size: 2rem;
    font-family: 'Sunflower', sans-serif;

    text-align:center;
    color:white;
    margin: 0 13vw 5% 13vw;
}

#completion {
    display:flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap:nowrap;
    justify-content: center;
}

#completion div {
    transition: background-color 0.3s ease;
}

.schoolToggle:hover {
    cursor: pointer;
    background-color: #d94bd8;
}

.schoolToggle.active {
    outline: 0.2rem solid rgb(194,176,248);
    border-radius: 3px;
    position:relative;
}

.schoolToggle.active::before {
    content: '';
    position: absolute;
    top: -5px; /* Adjust as needed */
    left: -5px; /* Adjust as needed */
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(194, 176, 248, 0.7); /* Initial glow color and size */
    border-radius: inherit;
    animation: spinGlow 2s linear infinite;
}

@keyframes spinGlow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#stas, #pshs, #plm {
    display: flex;
    flex-direction: column;
    width:22rem;
    height:28rem;
    padding:2rem;
}

#stas img, #pshs img, #plm img{
    width:100%;
}

#stas h1, #pshs h1, #plm h1{
    font-size: 3rem;
    font-family: 'Sunflower', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin:1rem;
}

@media (max-width: 1536px){
    html {
        font-size: 16px;
    }
}

@media (max-width: 1280px){
    html {
        font-size: 13px;
    }
}

@media (max-width: 1024px){
    html {
        font-size: 10px;
    }
}

@media (max-width: 768px){
    .content1 {
        flex-direction: column;
    }
    #img1{
        order:-1;
        margin-bottom: 4%;
    }
    html {
        font-size: 15px;
    }
    .dividerBlack h1 {
        font-size:6rem;
    }
    .dividerBlack p {
        font-size:1.5rem;
    }
}

@media (max-width: 640px){
    .content1 {
        flex-direction: column;
    }
    #img1{
        order:-1;
        margin-bottom: 4%;
    }
    html {
        font-size: 15px;
    }
    .dividerBlack h1 {
        font-size:4rem;
    }
    .dividerBlack p {
        font-size:1rem;
    }
}

@media (max-width: 475px){
    .content1 {
        flex-direction: column;
    }
    #img1{
        order:-1;
        margin-bottom: 4%;
    }
    html {
        font-size: 13px;
    }
    .dividerBlack h1 {
        font-size:4rem;
    }
    .dividerBlack p {
        font-size:1rem;
    }
}