.content1 {
    margin:5%;
    display:flex;
    flex-direction:row;
    align-items: center;
    overflow: hidden;
    gap:15px;
}

#beginning {
    margin: 0% 5% 25% 5%;
    width:60vw;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap:nowrap;
    flex-shrink: 1;
}

#intro {
    display: block;
    font-family: 'Sunflower', sans-serif;
    width:100%;
    max-height: 20vh;
    flex-basis: 60%;
}

.typed-wrapper {
    display:block;
    width:800px;
    padding:100px;
}

.typed {
    display:block;
    font-size: 80px;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 1s steps(20, end) alternate 19 2s, blinking 0.2s 100 2s;
    border-right: 2px solid;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent} 
}

.description {
    display:block;
    width: 100%;
    height: 40%;
    background-color: rgba(25, 168, 212, 0.5);
    border: 2px solid turquoise;
    border-radius: 5px 15px;
}

#img {
    flex-shrink:0;
    width:35vw;
    max-width:300px;
}
#img1 img{
    width: 90%;
    margin-left:  10%;
}

.learnM {
    color:#069; 
    cursor:pointer;
}
.lorePrev {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}

.learnM:hover + .lorePrev {
    display: block;
}

.parent-container:hover .lorePrev {
    display: block;
}

.lorePrev {
    /* other styles */
    display: none;
}

#dividerBlack {
    background: linear-gradient(0deg, rgba(34, 30, 36,0.7), #000000,rgb(34, 30, 36));  
    overflow: hidden;
}

#dividerBlack h1{
    text-align:center;
    color:white;
}
#dividerBlack p{
    text-align:center;
    color:white;
}


#bg2 {
    height:100%;
}

#completion {
    display:flex;
    flex-direction: row;
    gap: 10vw;
    flex-wrap:nowrap;
    justify-content: center;
}

#completion div{
    width:300px;
    height:200px;
}
