body {
    margin: 0;
    display:flex;
    flex-direction: column;
    width:100vw;
}

.navBar{
    z-index: 3;
    position: sticky;
    top:0;
}

.navBar nav {
    background-color: rgba(34, 30, 36, 0.8);
    padding: 15px;
    text-align: center;
}

nav a {
    font-family: 'Cinzel Decorative', serif;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d94bd8;
}

.footBar{
    display: flex;
    flex: row;

    width:100%;
    background-color: rgba(34, 30, 36, 0.8);
    text-align: center;
    z-index: 3;
    position: sticky;
    bottom:0;
    padding: 0 0 1% 0;
    justify-content: center;
}

.footBar div {
    flex:1;
}

.footBar h1{
    color:#fff;
    font-family: 'Cinzel Decorative', serif;
    font-size: 2rem;
}

.footBar a{
    color:#fff;
    font-family: 'Sunflower', sans-serif;
    font-size: 1rem;
}

#connect img{
    width: 5%;
    margin: 0 1%;
}

#bg1{
    background: linear-gradient(0deg, rgb(34, 30, 36), #349dcd77), url("Assets/VerticalNeon.svg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    z-index: 0;

    padding: 5vh 5vh 10rem 5vh;
}

#bg2{
    overflow: visible;
    background: linear-gradient(180deg, rgba(81,74,128,0) 3%, rgba(73,74,136,1) 6%, rgba(0,0,0,1) 15%);
    margin: -5% 0 0 0;
    padding: 5% 0 2% 0;
    z-index: 1;
}
#bg3{
    background-color: black;
}


/* #bg2{
    background: linear-gradient(0deg, rgb(34, 30, 36), #349dcd77), url("Assets/VerticalNeonInverted.svg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;

    z-index: 0;
    padding: 10rem 5vh 5vh 5vh;
} reserved effect*/

#bg4{
    background-color: black;
    z-index: 2;
    height:50rem;
}

/*
.about{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.about h1 {
    font-family: 'Cinzel Decorative', serif;   
}

#learnMore{
    font-family: serif;
}
*/


