body {
    margin: 0;
    display:flex;
    flex-direction: column;
    width:100vw;
}

.about{
    display: flex; /* Makes the div a flex container */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Centers the div horizontally */
    align-items: center; /* Centers the div vertically */
}

.about h1 {
    font-family: 'Cinzel Decorative', serif;   
}

#learnMore{
    font-family: serif;
}

#bg1{
    background: linear-gradient(0deg, rgb(34, 30, 36), #349dcd77), url("Assets/VerticalNeon.svg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    z-index: 0;

    padding: 5vh 5vh 10rem 5vh;
}

#dividerBlack {
    overflow: visible;
    background: linear-gradient(180deg, rgba(81,74,128,0) 3%, rgba(73,74,136,1) 6%, rgba(0,0,0,1) 15%);
    margin: -10% 0 0 0;
    padding: 2% 0 2% 0;
    z-index: 1;
}


/* #bg2{
    background: linear-gradient(0deg, rgb(34, 30, 36), #349dcd77), url("Assets/VerticalNeonInverted.svg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;

    z-index: 0;
    padding: 10rem 5vh 5vh 5vh;
} reserved effect*/

#bg2{
    background-color: black;
    z-index: 2;
    height:50rem;
}


  


