body{
    margin:0;
}

#backg1 {
    background: linear-gradient(180deg, rgba(0,0,0,1) 36%, rgba(27,31,99,1) 46%, rgba(116,99,31,1) 56%, rgba(120,232,255,1) 84%, rgba(255,255,255,1) 100%);
}

#birthMarks {
    position: relative;
    max-width: 100%;


    padding:5% 0% 5% 0%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

#birthMarks img{
    max-width: 100%;
}

#birthMarks h1{
    color:white;
    font-size: 4rem;
}

#birthMarks p{
    color:white;
    font-size: 1.5rem;
}

#scorpLogo, #chrysanLogo{
    flex:1;
    order:0;
}

#topazLogo {
    flex:1;
    order:2;
}

#horoText, #bsText, #bfText{
    flex:1;
    order:1;

}

#birthStone, #horoscope, #birthFlower{
    gap: 10%;
    margin-top: 10%;
}

#horoscope, #birthFlower{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

#birthStone{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
}

#reflection {
    position:absolute;
    overflow: hidden;
    border-radius: 30%;
}

#reflection img{    
    -webkit-box-reflect: below -100px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

#birth {
    display:flex;
    flex-direction: column;
    position:relative;

    align-items: center;
    margin-bottom: 0;
}

#birthDetails h1{
    font-size:8rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(23, 143, 255);

    text-align: center;
    text-shadow: 2px 5px 7px #0026ff, 1px 1px 10px #ffffff, -2px 6px 7px #0051ff;

    margin-bottom: 0;
}

#birthDetails h2{
    font-size:3rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(23, 143, 255);

    text-align: center;
}   

#map {
    width:100%;
    justify-content: center;
    margin-bottom: 10%;;
}   

#blood {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap:5%;
}

#bloodText, #bloodLogo {
    flex:1;
}
#bloodLogo img{
    max-width: 100%;
}

#blood h1, h2{
    font-size:1.5rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(23, 143, 255);
}

#divider{
    position: absolute;
    bottom: -1%;
    width:100%;
    z-index: -1;;
}

.roots {
    background-image: url("../Assets/Dirt.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;

    overflow: hidden;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 1536px){
    html{
        font-size: 16px;
    }
}

@media (max-width: 1280px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 1024px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 768px){
    #horoscope, #birthStone, #birthFlower {
        flex-direction: column;
    }
    html{
        font-size: 13px;
    }
    #topazLogo{
        order:0;
    }
    #birthMarks{
        padding-bottom:30vh;
    }
    #blood{
        flex-direction: column;
    }
    #bloodText{
        order:2;
    }
    .footBar h1{
        font-size: 1.5rem;
    }
    #connect img{
        width:10%;
    }
}
@media (max-width: 640px){
    .container{
        max-width:475px;
    }
}

@media (max-width: 475px){
    .container{
        max-width:100%;
    }
    .navBar a{
        font-size: 1.25rem;
    }
    #connect img{
        width:15%;
    }
}

@media (max-width: 390px){
    .container{
        padding: 0 10% 0 10%;
    }
    .navBar a{
        font-size: 1rem;
    }
    #birthMarks h1{
        font-size: 3rem;
    }
    #birthDetails h1{
        font-size: 6rem;
    }
    #map {
        width: 95%;
    }
    #connect img{
        width:15%;
    }
}