.birthMarks {
position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(0,0,0),70%,rgba(29,22,30),90%,rgba(43,29,90),98%,rgba(40,43,117),99.5%,rgba(162,150,202));

    padding:5% 0% 2% 0%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    gap:10%;
}

.birthMarks img{
    max-width: 500px;
}

#birthStone, #horoscope{
    gap: 10%;
    margin-top: 10%;
}

#horoText, #bsText{
    order:1;
}

#scorpLogo {
    order:0;
}

#topazLogo {
    order:2;
}

#horoscope{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

#horoscope, #birthStone {
    margin: 0 5% 0 5%;
} 

#horoscope p,h1{
    color:white;
}




#birthStone{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
}

#birthStone p,h1{
    color:white;
}



#reflection {
    display:block;
    position:absolute;
    overflow: hidden;
    border-radius: 30%;
}

#reflection img{
    -webkit-box-reflect: below -100px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}